<%- include partials/header.ejs %>
<div class="container" style="width: 750px;">
    <form id="editPa" method="post">
        <div class="form-group col-sm-12">
            <%if (role === "Healthcare Provider"){%>
                <h2 class="text-center">Treatments for Patient</h2>
            <%}else{%>
                    <h2 class="text-center">Treatments from Provider</h2>
                <%}%>
            <% for(var key in treatments){ %>
                <p class="text-center">
                    <%if (role === "Healthcare Provider"){%>
                        <%- treatments[key].ipfs.PatientName  %> &nbsp; &nbsp;
                        <%- treatments[key].ipfs.Patient_Address.toLowerCase()  %> &nbsp; &nbsp;
                    <%} else{%>
                        <%- treatments[key].ipfs.HealthcareProviderName  %> &nbsp; &nbsp;
                        <%- treatments[key].provider.toLowerCase()  %> &nbsp; &nbsp;
                    <%}%>
                    <a class="btn btn-light" data-toggle="collapse" href="#<%- treatments[key].treatment  %>" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <%- treatments[key].treatment  %>
                    </a>
                </p>
                <div class="collapse" id="<%- treatments[key].treatment%>">
                    <div class="card card-body">
                        <% if(role === "Patient"){%>
                            <b>Healthcare Provider:</b> <br/>
                            <%- treatments[key].provider %><br/><br>
                            <%}%>
                        <b>Data about Treatment:</b> <br/>
                        <% for(var key1 in treatments[key].ipfs){ %>
                        <%if(key1 === "img"){%>
                            <a href="https://ipfs.io/ipfs/<%- treatments[key].ipfs[key1]%>" onclick="window.open('https://ipfs.io/ipfs/<%- treatments[key].ipfs[key1]%>', 'newwindow','width=1000,height=1000');return false;">XRay</a>
                        <%}else{%>
                            <u><%- key1 %>:</u>
                            <%- treatments[key].ipfs[key1] %><br/><br/>
                        <%}%>
                        <%}%>
                    </div>
                </div><br/>
            <%}%>
            <br/>
        </div>
    </form>
</div>
<%- include partials/footer.ejs %>