<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>EMR on Blockchain</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="jumbotron" style="margin-bottom: 0px;">
    <h1>Healthcare with Blockchain Technology</h1>
    <p>Management of EMR</p>
    <label style="font-size: 12px;">You are logged in with the address: <%= address%></label><br/>
    <label style="font-size: 12px;">Role: <%= role%></label>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/main/<%= address %>/<%= role%>">Startpage</a>
            </li>
            <% if(role === "Healthcare Provider"){%>
                <li class="nav-item">
                    <a class="nav-link" href="/addauthorization/<%= address %>/<%= role%>">Request Authorization</a>
                </li>
            <%}%>
            <% if(role === "Healthcare Provider"){%>
                <li class="nav-item">
                    <a class="nav-link" href="/addtreatment/<%= address %>/<%= role%>">Add Treatment</a>
                </li>
            <%}%>
            <li class="nav-item">
                <a class="nav-link" href="/searchauthorization/<%= address %>/<%= role%>">My Authorizations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/searchtreatment/<%= address %>/<%= role%>">Treatments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile/<%= address %>/<%= role%>">Profile</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>

</nav>